<!DOCTYPE html>
<html lang="en">
<head>
  
  <!-- Theme Detection -->
  <script>
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      document.documentElement.classList.add('dark');
    }
  </script>
  
  <!-- Basic Meta Tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- SEO Meta Tags -->
  <title>Notick</title>
  <meta name="description" content="DESC">
  <meta name="author" content="KelvinY">
  <link rel="canonical" href="https://notick.pages.dev/">
  
  <!-- Open Graph -->
  <meta property="og:title" content="Notick">
  <meta property="og:description" content="DESC">
  <meta property="og:image" content="IMAGE">
  <meta property="og:url" content="https://notick.pages.dev/">
  <meta property="og:type" content="website">
  
  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Notick">
  <meta name="twitter:description" content="DESC">
  <meta name="twitter:image" content="IMAGE">
  
  <!-- iOS Optimization -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
  <meta name="format-detection" content="telephone=no">
  
  <!-- External Files -->
  <!-- <link rel="icon" type="image/[TYPE]+xml" sizes="any" href="FAV">
  <link rel="apple-touch-icon" href="APPLE"> -->
  
  <!-- CSS -->
  <link rel="stylesheet" href="./assets/libraries/radix-colors.css">
  <script>
    if (location.hostname === 'localhost' || location.hostname === '127.0.0.1') {
      fetch('./input.css')
        .then(res => res.text())
        .then(cssContent => {
          
          const style = document.createElement('style');
          style.type = 'text/tailwindcss';
          style.textContent = cssContent;
          document.head.appendChild(style);
          
          const cdnScript = document.createElement('script');
          cdnScript.src = './assets/libraries/tailwindcss.js';
          cdnScript.defer = true;
          document.head.appendChild(cdnScript);
          
        })
        .catch(err => console.error(err));
    } else {
      
      const link = document.createElement('link');
      link.rel = 'stylesheet';
      link.href = './output.css';
      document.head.appendChild(link);
      
    }
  </script>
  
  <!-- Petite Vue -->
  <script src="./assets/libraries/petite-vue.js" defer></script>
  <script src="./assets/libraries/sortable.js" defer></script>
  <script src="./script.js" defer></script>
  
</head>
<body v-scope v-cloak class="w-screen h-screen bg-gray-1 select-none">
  
  <main class="h-full flex flex-col justify-between">
    
    <section></section>
    
    <!-- Items -->
    <section class="items-container flex-1 flex flex-col">
      <div v-for="item in items" :key="item.id" class="item bg-white-black px-8 py-4 border-b border-gray-4 flex items-center gap-4 cursor-grab">
        
        <!-- Checkbox -->
        <input type="checkbox" v-model="item.completed" @change="save()" :class="{ 'opacity-50': item.completed }">
        
        <!-- Title and Description -->
        <div :class="{ 'opacity-50': item.completed }">
          <h2
            contenteditable="true"
            data-placeholder="Click to Edit"
            v-text="item.title"
            @blur="item.title = $event.target.innerText.trim(); save()"
            @keydown.enter.prevent="$event.target.blur()"
            class="text-lg font-medium outline-none empty:before:content-[attr(data-placeholder)] empty:before:text-gray-11 empty:before:pointer-events-none"
          ></h2>
          <p
            contenteditable="true"
            data-placeholder="Click to Edit"
            v-text="item.desc"
            @blur="item.desc = $event.target.innerText.trim(); save()"
            @keydown.enter.prevent="$event.target.blur()"
            class="outline-none empty:before:content-[attr(data-placeholder)] empty:before:text-gray-11 empty:before:pointer-events-none"
          ></p>
        </div>
        
      </div>
    </section>
    
    <!-- Bottom Bar -->
    <section class="fixed bottom-0 left-1/2 -translate-x-1/2 w-full h-[100px] z-99 flex justify-center items-center bg-gradient-to-b from-transparent to-gray-a3">
      <div id="trash-can" class="absolute top-0 left-0 w-[calc(100%-2rem)] h-[calc(100%-2rem)] m-4 bg-red-a2 border-2 border-dashed border-red-4 rounded-md text-red-9 text-sm hidden flex justify-center items-center">Drop here to delete</div>
      <button id="add-item" @click="addItem" class="touch-manipulation block liquid-glass rounded-full px-4 py-2">Add Item</button>
    </section>
    
  </main>
  
</body>
</html>
