<!DOCTYPE html>
<html lang="en" style="visibility: hidden; opacity: 0; transition: opacity 0.2s ease-in;" class="overflow-hidden overscroll-none no-scrollbar">
<head>
  
  <!-- Theme Detection -->
  <script>
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      document.documentElement.classList.add('dark');
    }
  </script>
  
  <!-- Basic Meta Tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- SEO Meta Tags -->
  <title>Itemiz</title>
  <meta name="description" content="A minimalist, lightweight todo list web app with a simple and clean design.">
  <meta name="author" content="KelvinY">
  <link rel="canonical" href="https://itemiz.pages.dev/">
  
  <!-- Open Graph -->
  <meta property="og:title" content="Itemiz">
  <meta property="og:description" content="A minimalist, lightweight todo list web app with a simple and clean design.">
  <meta property="og:image" content="https://itemiz.pages.dev/assets/images/open-graph-image.png">
  <meta property="og:url" content="https://itemiz.pages.dev/">
  <meta property="og:type" content="website">
  
  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Itemiz">
  <meta name="twitter:description" content="A minimalist, lightweight todo list web app with a simple and clean design.">
  <meta name="twitter:image" content="https://itemiz.pages.dev/assets/images/open-graph-image.png">
  
  <!-- iOS Optimization -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
  <meta name="format-detection" content="telephone=no">
  
  <!-- External Files -->
  <link rel="icon" type="image/svg+xml" sizes="any" href="/assets/images/favicon.svg">
  <link rel="manifest" href="./manifest.json">
  <link id="apple-touch-icon" rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
  <script>
    function updateIcon() {
      const isDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
      document.getElementById('apple-touch-icon').href = isDark ? './assets/images/apple-touch-icon-dark.png' : './assets/images/apple-touch-icon.png';
    }
    updateIcon();
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateIcon());
  </script>
  
  <!-- CSS -->
  <link rel="stylesheet" href="./assets/libraries/radix-colors.css">
  <script>
    if (location.hostname === 'localhost' || location.hostname === '127.0.0.1') {
      fetch('./input.css')
        .then(res => res.text())
        .then(cssContent => {
          
          const style = document.createElement('style');
          style.type = 'text/tailwindcss';
          style.textContent = cssContent;
          document.head.appendChild(style);
          
          const cdnScript = document.createElement('script');
          cdnScript.src = './assets/libraries/tailwindcss.js';
          cdnScript.defer = true;
          document.head.appendChild(cdnScript);
          
        })
        .catch(err => console.error(err));
    } else {
      
      const link = document.createElement('link');
      link.rel = 'stylesheet';
      link.href = './output.css';
      document.head.appendChild(link);
      
    }
  </script>
  
  <!-- GIS and Firebase -->
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js";
    import { getDatabase, ref, onValue } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-database.js";
    
    const firebaseConfig = { databaseURL: "https://itemiz-db-default-rtdb.firebaseio.com/" };
    const app = initializeApp(firebaseConfig);
    const db = getDatabase(app);
    
    window.listenToCloudChanges = function(userEmail) {
      if (!userEmail) return;
      
      const key = userEmail.replace(/\./g, '_');
      const userRef = ref(db, key);
      onValue(userRef, (snapshot) => {
        const cloudData = snapshot.val();
        if (cloudData && Array.isArray(cloudData)) {
          state.data = cloudData;
          localStorage.setItem(DATA_KEY, JSON.stringify(cloudData));
        }
      });
      
    };
  </script>
  
  <!-- Petite Vue -->
  <script src="./assets/libraries/petite-vue.js" defer></script>
  <script src="./assets/libraries/sortable.js" defer></script>
  <script src="./script.js" defer></script>
  
  <!-- Prevent FOUC -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      document.documentElement.style.visibility = "visible";
      document.documentElement.style.opacity = "1";
    });
  </script>
  
</head>
<body v-scope v-cloak class="overflow-hidden overscroll-none no-scrollbar select-none" :style="{ backgroundColor: (PALETTE[getListById(activeListId)?.color] || PALETTE['none']).bgColor }">
  
  <!-- Overlay -->
  <div
    @click="onOverlayClick()"
    :class="{
      'opacity-100 pointer-events-auto': showingOverlay,
      'opacity-0 pointer-events-none': !showingOverlay
      }"
    class="fixed top-0 left-0 w-full h-full z-98 bg-[rgba(0,0,0,0.1)] dark:bg-[rgba(0,0,0,0.4)] transition-opacity"
  ></div>
  
  <main class="h-full flex flex-col justify-between overscroll-none">
    
    <!-- Top Bar -->
    <nav onwheel="this.scrollLeft += event.deltaY" id="top-bar" aria-label="List tabs" class="shrink-0 relative bg-gray-2 border-b border-gray-2 pt-[env(safe-area-inset-top)] flex items-end gap-4 overflow-x-auto overflow-y-hidden overscroll-none no-scrollbar">
      
      <!-- List Tabs -->
      <button
        type="button"
        v-for="list in data"
        :key="list.id"
        :id="list.id"
        @pointerdown="onListPointerDown($event)"
        @click="
          if (checkActiveList(list.id)) openListModal(activeListId);
          setActiveList(list.id);
        "
        :style="(() => {
          const theme = PALETTE[list.color] || PALETTE['none'];
          return {
            backgroundColor: theme.tabColor,
            color: theme.textColor,
          };
        })()"
        :class="{ 'font-semibold scale-105': checkActiveList(list.id) }"
        class="tabs h-[75%] text-sm bg-gray-1 shadow-[0_-1px_5px_rgba(0,0,0,0.01)] px-4 py-2 first:ml-4 last:mr-4 rounded-t-lg flex justify-center items-center shrink-0 whitespace-nowrap"
      >{{ list.name || 'New List' }}</button>
      
      <!-- Add List Button -->
      <button
        type="button"
        @click="addList()"
        class="group sticky top-0 right-0 ml-auto h-full bg-white-black text-sm rounded-l-xl p-4 shadow-[-2px_0_5px_rgba(0,0,0,0.02)] shrink-0 flex items-center gap-2 transition-shadow whitespace-nowrap cursor-pointer hover:shadow-[-2px_0_0_5px_rgba(0,0,0,0.04)] active:shadow-[-2px_0_0_5px_rgba(0,0,0,0.04)] dark:hover:shadow-[-2px_0_0_5px_rgba(255,255,255,0.04)] dark:active:shadow-[-2px_0_0_5px_rgba(255,255,255,0.04)]"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="var(--gray-11)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 5H3"/><path d="M11 12H3"/><path d="M16 19H3"/><path d="M18 9v6"/><path d="M21 12h-6"/></svg>
        <span :class="!isTouchDevice ?'max-w-0 opacity-0 overflow-hidden transition-[max-width,opacity] duration-250 group-hover:opacity-100 group-hover:max-w-xs' : 'max-w-xs opacity-100'" class="text-gray-11 font-medium">Add</span>
      </button>
      
    </nav>
    
    <!-- Items Container (Lists) -->
    <ul id="items-container" class="flex-1 flex flex-col overflow-x-hidden overflow-y-auto">
      
      <!-- Items -->
      <li
        v-for="item in getItemsById(activeListId)"
        :key="item.id"
        :id="item.id"
        @pointerdown="onItemPointerDown($event)"
        @click="openItemModal(item)"
        :style="(() => {
          const theme = PALETTE[item.color] || PALETTE['none'];
          return {
            backgroundColor: theme.itemColor,
            color: theme.textColor,
            borderColor: theme.borderColor
          };
        })()"
        class="item p-4 pr-8 mt-6 mb-0 last:mb-32 w-[calc(100%-3rem)] max-w-lg mx-auto rounded-xl shadow-[0_5px_5px_rgba(0,0,0,0.01)] border-b-2 flex items-center gap-2"
      >
        
        <!-- Checkbox -->
        <label @pointerdown.stop @click.stop class="shrink-0 flex justify-center items-center px-4 h-full cursor-pointer">
          <input
            type="checkbox"
            v-model="item.completed"
            @change="save()"
            :class="{ 'opacity-50': item.completed }"
            class="sr-only peer"
          >
          <div class="w-5 h-5 border-2 border-gray-6 rounded-md bg-white-black flex items-center justify-center transition-all duration-200 peer-checked:bg-gray-9 peer-checked:border-gray-10 dark:peer-checked:bg-gray-10 dark:peer-checked:border-gray-11 peer-checked:opacity-50">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-3.5 h-3.5 text-white-black pointer-events-none" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"/></svg>
          </div>
        </label>
        
        <!-- Title and Description -->
        <div class="flex-1 min-w-0" :class="{ 'opacity-50': item.completed }">
          <span class="font-medium [overflow-wrap:anywhere]">{{ item.title || 'New Item' }}</span>
          <p class="text-sm text-gray-11 line-clamp-3 [overflow-wrap:anywhere] [white-space:pre-line]">{{ item.desc }}</p>
        </div>
        
        <!-- Due Date -->
        <span
          v-if="item.date"
          :class="{ 'opacity-50': item.completed }"
          class="shrink-0 text-xs text-gray-11 ml-2"
        >{{ formatDate(item.date) }}</span>
        
      </li>
      
      <!-- Placeholder -->
      <li
        role="status"
        v-if="!activeListId || getItemsById(activeListId).length === 0"
        :style="{ color: (PALETTE[getListById(activeListId)?.color] || PALETTE['none']).textColor }"
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center flex flex-col items-center opacity-75"
      >
        <svg v-if="activeListId" xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 mb-2" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5.8 11.3 2 22l10.7-3.79"/><path d="M4 3h.01"/><path d="M22 8h.01"/><path d="M15 2h.01"/><path d="M22 20h.01"/><path d="m22 2-2.24.75a2.9 2.9 0 0 0-1.96 3.12c.1.86-.57 1.63-1.45 1.63h-.38c-.86 0-1.6.6-1.76 1.44L14 10"/><path d="m22 13-.82-.33c-.86-.34-1.82.2-1.98 1.11c-.11.7-.72 1.22-1.43 1.22H17"/><path d="m11 2 .33.82c.34.86-.2 1.82-1.11 1.98C9.52 4.9 9 5.52 9 6.23V7"/><path d="M11 13c1.93 1.93 2.83 4.17 2 5-.83.83-3.07-.07-5-2-1.93-1.93-2.83-4.17-2-5 .83-.83 3.07.07 5 2Z"/></svg>
        <svg v-else xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 mb-2" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 5H3"/><path d="M16 12H3"/><path d="M11 19H3"/><path d="m15 18 2 2 4-4"/></svg>
        <span class="font-semibold">{{ activeListId ? 'All caught up!' : 'No list selected' }}</span>
        <span class="text-sm font-medium">{{ activeListId ? 'Click the "+" button to add items' : 'Create or select a list to get started' }}</span>
      </li>
      
    </ul>
    
    <!-- Modals -->
    <div id="modals" aria-live="polite" class="fixed inset-0 z-99 p-0 md:p-4 flex justify-center items-end md:items-start md:mt-8 pointer-events-none">
      
      <!-- About Modal -->
      <dialog
        open
        id="about-modal"
        @touchstart="startY = $event.touches[0].clientY; startTime = Date.now()"
        @touchend="
          const dist = $event.changedTouches[0].clientY - startY;
          const time = Date.now() - startTime;
          if (dist > 30 && time < 250) closeAboutModal();
        "
        :class="{ 'pt-4': !isTouchDevice }"
        class="pointer-events-auto w-full max-w-lg bg-white-black p-6 pt-3 pb-[calc(1.5rem+env(safe-area-inset-bottom))] rounded-t-2xl md:rounded-b-2xl hidden flex flex-col gap-2"
      >
        <div v-if="isTouchDevice" class="w-10 h-1 bg-gray-a4 mx-auto rounded-full"></div>
        
        <!-- Content -->
        <h2 class="text-2xl font-bold">Itemiz</h2>
        <p>A minimalist, lightweight todo list web app designed with a simple and clean interface to help you organize daily tasks effortlessly.</p>
        <p class="mb-4">Made with &#9825; by KelvinY</p>
        <button
          type="button"
          @click="closeAboutModal()"
          class="w-full p-2 bg-gray-12 text-gray-1 font-medium rounded-xl cursor-pointer hover:bg-gray-10 hover:text-gray-2 active:bg-gray-10 active:text-gray-2"
        >Close</button>
        
      </dialog>
      
      <!-- Item Modal -->
      <dialog
        open
        id="item-modal"
        @touchstart="startY = $event.touches[0].clientY; startTime = Date.now()"
        @touchend="
          const dist = $event.changedTouches[0].clientY - startY;
          const time = Date.now() - startTime;
          if (dist > 30 && time < 250) closeItemModal();
        "
        :class="{ 'pt-4': !isTouchDevice }"
        class="pointer-events-auto w-full max-w-lg bg-white-black p-4 pt-3 pb-[calc(1rem+env(safe-area-inset-bottom))] rounded-t-2xl md:rounded-b-2xl hidden flex flex-col gap-2"
      >
        <div v-if="isTouchDevice" class="w-10 h-1 bg-gray-a4 mx-auto rounded-full"></div>
        
        <!-- Title Input -->
        <input
          id="item-modal-title-input"
          type="text"
          @keyup.enter="$event.target.blur()"
          v-model="editingItem.title"
          placeholder="New Item"
          class="font-medium bg-gray-2 border border-gray-4 rounded-xl px-3 py-2 mb-2 outline-none focus-visible:border-gray-12"
        >
        
        <!-- Description Input -->
        <textarea
          v-model="editingItem.desc"
          placeholder="Description (optional)"
          class="min-h-[3lh] max-h-[10lh] [field-sizing:content] bg-gray-2 border border-gray-4 rounded-xl px-3 py-2 mb-2 outline-none focus-visible:border-gray-12 resize-none no-scrollbar"
        ></textarea>
        
        <!-- Due Date Input -->
        <label class="px-4 mb-2 flex items-center gap-4">
          <span>Due Date:</span>
          <input
            type="date"
            v-model="editingItem.date"
            class="flex-1 bg-white-black border border-gray-4 rounded-xl py-1 text-sm text-center px-4 outline-none focus-visible:border-gray-12"
          >
        </label>
        
        <!-- Color Selection -->
        <div class="flex justify-center items-center gap-4 py-2 mb-2">
          <input
            type="radio"
            v-for="(colorName, colorKey) in PALETTE"
            :key="colorKey"
            :name="editingItem.id"
            :value="colorKey"
            v-model="editingItem.color"
            :style="{ backgroundColor: colorName.previewColor }"
            class="w-6 h-6 rounded-full ring-1 ring-offset-1 ring-gray-3 appearance-none cursor-pointer transition-transform checked:ring-offset-2 checked:ring-gray-9 checked:scale-120"
          >
        </div>
        
        <!-- Action Buttons -->
        <div class="flex justify-center items-center gap-4 p-2">
          <button
            type="button"
            @click="deleteItemById(activeListId, editingItem.id); closeItemModal();"
            class="shrink-0 p-2 bg-red-2 text-red-11 border border-red-3 font-medium rounded-xl cursor-pointer hover:bg-red-4 hover:text-red-9 active:bg-red-4 active:text-red-9"
          ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"/><path d="M3 6h18"/><path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/></svg></button>
          <button
            type="button"
            @click="closeItemModal(true)"
            class="flex-1 p-2 bg-gray-1 text-gray-12 border border-gray-3 font-medium rounded-xl cursor-pointer hover:bg-gray-4 hover:text-gray-11 active:bg-gray-4 active:text-gray-11"
          >Cancel</button>
          <button
            type="button"
            @click="saveItemModal(activeListId)"
            class="flex-1 p-2 bg-gray-12 text-gray-1 font-medium rounded-xl cursor-pointer hover:bg-gray-10 hover:text-gray-2 active:bg-gray-10 active:text-gray-2"
          >Save</button>
        </div>
        
      </dialog>
      
      <!-- List Modal -->
      <dialog
        open
        id="list-modal"
        @touchstart="startY = $event.touches[0].clientY; startTime = Date.now()"
        @touchend="
          const dist = $event.changedTouches[0].clientY - startY;
          const time = Date.now() - startTime;
          if (dist > 30 && time < 250) closeListModal(activeListId);
        "
        :class="{ 'pt-4': !isTouchDevice }"
        class="pointer-events-auto w-full max-w-lg bg-white-black p-4 pt-3 pb-[calc(1rem+env(safe-area-inset-bottom))] rounded-t-2xl md:rounded-b-2xl hidden flex flex-col gap-2"
      >
        <div v-if="isTouchDevice" class="w-10 h-1 bg-gray-a4 mx-auto rounded-full"></div>
        
        <!-- Name Input -->
        <input
          id="list-modal-name-input"
          type="text"
          @keyup.enter="$event.target.blur()"
          v-model="editingList.name"
          placeholder="New List"
          class="font-medium bg-gray-2 border border-gray-4 rounded-xl px-3 py-2 mb-2 outline-none focus-visible:border-gray-12"
        >
        
        <!-- Color Selection -->
        <div class="flex justify-center items-center gap-4 py-2">
          <input
            type="radio"
            v-for="(colorName, colorKey) in PALETTE"
            :key="colorKey"
            :name="editingList.id"
            :value="colorKey"
            v-model="editingList.color"
            :style="{ backgroundColor: colorName.previewColor }"
            class="w-6 h-6 mb-2 rounded-full ring-1 ring-offset-1 ring-gray-3 appearance-none cursor-pointer transition-transform checked:ring-offset-2 checked:ring-gray-9 checked:scale-120"
          >
        </div>
        
        <!-- Action Buttons -->
        <div class="flex justify-center items-center gap-4 p-2">
          <button
            type="button"
            @click="
              if (!confirmDelete) {
                confirmDelete = true;
                setTimeout(() => confirmDelete = false, 2000);
              } else {
                deleteList(activeListId);
                closeListModal();
                confirmDelete = false;
              }
            "
            class="touch-manipulation shrink-0 p-2 bg-red-2 text-red-11 border border-red-3 font-medium rounded-xl flex items-center cursor-pointer hover:bg-red-4 hover:text-red-9 active:bg-red-4 active:text-red-9"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"/><path d="M3 6h18"/><path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/></svg>
            <span :class="confirmDelete ? 'max-w-md opacity-100 ml-2 mr-1' : 'max-w-0 opacity-0'" class="block text-md font-medium transition-max-w duration-200 overflow-hidden whitespace-nowrap">Sure?</span>
          </button>
          <button
            type="button"
            @click="closeListModal()"
            class="flex-1 p-2 bg-gray-1 text-gray-12 border border-gray-3 font-medium rounded-xl cursor-pointer hover:bg-gray-4 hover:text-gray-11 active:bg-gray-4 active:text-gray-11"
          >Cancel</button>
          <button
            type="button"
            @click="saveListModal(activeListId)"
            class="flex-1 p-2 bg-gray-12 text-gray-1 font-medium rounded-xl cursor-pointer hover:bg-gray-10 hover:text-gray-2 active:bg-gray-10 active:text-gray-2"
          >Save</button>
        </div>
        
      </dialog>
      
      <!-- Settings Modal -->
      <dialog
        open
        id="settings-modal"
        @touchstart="startY = $event.touches[0].clientY; startTime = Date.now()"
        @touchend="
          const dist = $event.changedTouches[0].clientY - startY;
          const time = Date.now() - startTime;
          if (dist > 30 && time < 250) closeSettingsModal();
        "
        :class="{ 'pt-4': !isTouchDevice }"
        class="pointer-events-auto w-full max-w-lg bg-white-black p-6 pt-3 pb-[calc(1.5rem+env(safe-area-inset-bottom))] rounded-t-2xl md:rounded-b-2xl hidden flex flex-col gap-2"
      >
        <div v-if="isTouchDevice" class="w-10 h-1 bg-gray-a4 mx-auto rounded-full"></div>
        
        <!-- Heading and Sync State -->
        <div class="flex items-center justify-between w-full">
          <h2 class="text-xl font-bold">Settings</h2>
          <span class="text-sm text-green-11 font-semibold">&#10003; Data Synced</span>
        </div>
        
        <!-- GIS UI -->
        <div v-if="!user" class="flex justify-center p-6 pt-3 border-b border-gray-10 my-2">
          <div
            id="g_id_onload"
            data-client_id="95142095725-ffrnu8ij4sdimj6mve09bud00j7t1td3.apps.googleusercontent.com"
            data-callback="handleCredentialResponse">
          </div>
          <div class="g_id_signin" data-type="standard" data-shape="pill"></div>
        </div>
        <div v-else class="flex items-center justify-between p-4 border-b border-gray-10 my-2">
          <span class="text-sm font-medium">Logged as <span class="font-semibold">{{ user.name }}</span></span>
          <button type="button" @click="logout()" class="text-sm text-red-11 font-medium cursor-pointer">Logout</button>
        </div>
        
        <!-- Import/Export Data --->
        <div class="flex items-center justify-between w-full mb-6">
          <label class="flex-1 flex justify-center cursor-pointer">
            <span class="text-green-12 text-sm font-medium border-b border-green-11">Import Data</span>
            <input
              type="file"
              accept=".json"
              @change="importData($event)"
              class="hidden"
            >
          </label>
          <span>|</span>
          <button
            type="button"
            @click="exportData()"
            class="flex-1 flex justify-center cursor-pointer"
          >
            <span class="text-red-12 text-sm font-medium border-b border-red-11">Export Data</span>
          </button>
        </div>
        
        <!-- Action Buttons -->
        <button
          type="button"
          @click="closeSettingsModal()"
          class="w-full p-2 bg-gray-12 text-gray-1 font-medium rounded-xl cursor-pointer hover:bg-gray-10 hover:text-gray-2 active:bg-gray-10 active:text-gray-2"
        >Close</button>
        
      </dialog>
      
    </div>
    
    <!-- Bottom Bar -->
    <footer id="bottom-bar" class="fixed bottom-0 left-0 w-full z-97 min-h-[125px] pb-[env(safe-area-inset-bottom)] flex justify-center items-center bg-gradient-to-b from-transparent to-gray-a3 pointer-events-none">
      
      <!-- Toolbar -->
      <div id="toolbar" role="toolbar" class="pointer-events-auto touch-manipulation bg-white-black rounded-2xl shadow-[0_2px_5px_var(--alpha-5)] px-4 py-2 flex gap-4">
        <button type="button" aria-label="About Itemiz" @click="openAboutModal()" class="block text-lg text-gray-11 bg-gray-1 rounded-xl px-4 py-2 cursor-pointer hover:bg-gray-3 hover:text-gray-12 active:text-gray-12 active:bg-gray-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg></button>
        <button type="button" aria-label="Add Item" @click="addItem(activeListId)" class="block text-lg text-gray-11 bg-gray-1 rounded-xl px-4 py-2 flex items-center cursor-pointer hover:bg-gray-3 hover:text-gray-12 active:text-gray-12 active:bg-gray-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg></button>
        <button type="button" aria-label="Settings" @click="openSettingsModal()" class="block text-lg text-gray-11 bg-gray-1 rounded-xl px-4 py-2 cursor-pointer hover:bg-gray-3 hover:text-gray-12 active:text-gray-12 active:bg-gray-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915"/><circle cx="12" cy="12" r="3"/></svg></button>
      </div>
      
      <!-- Trash Can -->
      <div id="trash-can" class="pointer-events-auto absolute top-0 left-1/2 -translate-x-1/2 w-[calc(100%-3rem)] max-w-xl h-[calc(100%-3rem)] mt-6 bg-red-2 border-2 border-dashed border-red-4 rounded-xl opacity-85 hidden flex justify-center items-center">
        <span class="text-red-9 text-sm">Drop here to delete</span>
      </div>
      
    </footer>
    
  </main>
  
</body>
</html>
